In [17]:
!pip install numpy pandas

Requirement already satisfied: numpy in c:\users\dell\anaconda3\lib\site-packages (1.26.4)
Requirement already satisfied: pandas in c:\users\dell\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [3]:
import numpy as np
import pandas as pd

In [5]:
data = pd.read_csv("train.csv")

In [7]:
data

,count,hate_speech_count,offensive_language_count,neither_count,class,tweet
0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...
...,...,...,...,...,...,...
24778,3,0,2,1,1,you's a muthaf***in lie &#8220;@LifeAsKing: @2...
24779,3,0,1,2,2,"you've gone and broke the wrong heart baby, an..."
24780,3,0,3,0,1,young buck wanna eat!!.. dat nigguh like I ain...
24781,6,0,6,0,1,youu got wild bitches tellin you lies
24782,3,0,0,3,2,~~Ruffled | Ntac Eileen Dahlia - Beautiful col...

In [9]:
data.head(10)

,count,hate_speech_count,offensive_language_count,neither_count,class,tweet
0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...
5,3,1,2,0,1,"!!!!!!!!!!!!!!!!!!""@T_Madison_x: The shit just..."
6,3,0,3,0,1,"!!!!!!""@__BrighterDays: I can not just sit up ..."
7,3,0,3,0,1,!!!!&#8220;@selfiequeenbri: cause I'm tired of...
8,3,0,3,0,1,""" &amp; you might not get ya bitch back &amp; ..."
9,3,1,2,0,1,""" @rhythmixx_ :hobbies include: fighting Maria..."

In [11]:
data.shape

(24783, 6)

In [13]:
#after deleting unwanted columns
data.columns

Index(['count', 'hate_speech_count', 'offensive_language_count',
       'neither_count', 'class', 'tweet'],
      dtype='object')

In [15]:
data.drop(columns = ['count','hate_speech_count','offensive_language_count','neither_count'])

       class                                              tweet
0          2  !!! RT @mayasolovely: As a woman you shouldn't...
1          1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2          1  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3          1  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4          1  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...
...      ...                                                ...
24778      1  you's a muthaf***in lie &#8220;@LifeAsKing: @2...
24779      2  you've gone and broke the wrong heart baby, an...
24780      1  young buck wanna eat!!.. dat nigguh like I ain...
24781      1              youu got wild bitches tellin you lies
24782      2  ~~Ruffled | Ntac Eileen Dahlia - Beautiful col...

[24783 rows x 2 columns]

In [17]:
data.head()

,count,hate_speech_count,offensive_language_count,neither_count,class,tweet
0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [19]:
data.isna().sum()

count                       0
hate_speech_count           0
offensive_language_count    0
neither_count               0
class                       0
tweet                       0
dtype: int64

In [21]:
data['tweet'].iloc[0]

"!!! RT @mayasolovely: As a woman you shouldn't complain about cleaning up your house. &amp; as a man you should always take the trash out..."

In [23]:
data['tweet'].iloc[100]

'"@ClicquotSuave: LMAOOOOOOOOOOO this nigga @Krillz_Nuh_Care http://t.co/AAnpSUjmYI" &lt;bitch want likes for some depressing shit..foh'

In [25]:
data['processed_tweet'] = data['tweet'].str.replace(r'[^a-zA-Z]',' ',regex=True)

In [26]:
data

,count,hate_speech_count,offensive_language_count,neither_count,class,tweet,processed_tweet
0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...,RT mayasolovely As a woman you shouldn t...
1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...,RT mleew boy dats cold tyga dwn ba...
2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...,RT UrKindOfBrand Dawg RT sbaby...
3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...,RT C G Anderson viva based she lo...
4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...,RT ShenikaRoberts The shit you...
...,...,...,...,...,...,...,...
24778,3,0,2,1,1,you's a muthaf***in lie &#8220;@LifeAsKing: @2...,you s a muthaf in lie LifeAsKing ...
24779,3,0,1,2,2,"you've gone and broke the wrong heart baby, an...",you ve gone and broke the wrong heart baby an...
24780,3,0,3,0,1,young buck wanna eat!!.. dat nigguh like I ain...,young buck wanna eat dat nigguh like I ain...
24781,6,0,6,0,1,youu got wild bitches tellin you lies,youu got wild bitches tellin you lies
24782,3,0,0,3,2,~~Ruffled | Ntac Eileen Dahlia - Beautiful col...,Ruffled Ntac Eileen Dahlia Beautiful col...

In [28]:
data.head()

,count,hate_speech_count,offensive_language_count,neither_count,class,tweet,processed_tweet
0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...,RT mayasolovely As a woman you shouldn t...
1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...,RT mleew boy dats cold tyga dwn ba...
2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...,RT UrKindOfBrand Dawg RT sbaby...
3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...,RT C G Anderson viva based she lo...
4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...,RT ShenikaRoberts The shit you...

In [31]:
data['processed_tweet'].iloc[0]

'    RT  mayasolovely  As a woman you shouldn t complain about cleaning up your house   amp  as a man you should always take the trash out   '

In [33]:
#handling unwanted spaces
data['processed_tweet_2'] = data['processed_tweet'].str.replace(r'[\s]+',' ',regex=True)

In [34]:
data.head()

,count,hate_speech_count,offensive_language_count,neither_count,class,tweet,processed_tweet,processed_tweet_2
0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...,RT mayasolovely As a woman you shouldn t...,RT mayasolovely As a woman you shouldn t comp...
1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...,RT mleew boy dats cold tyga dwn ba...,RT mleew boy dats cold tyga dwn bad for cuffi...
2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...,RT UrKindOfBrand Dawg RT sbaby...,RT UrKindOfBrand Dawg RT sbaby life You ever ...
3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...,RT C G Anderson viva based she lo...,RT C G Anderson viva based she look like a tr...
4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...,RT ShenikaRoberts The shit you...,RT ShenikaRoberts The shit you hear about me ...

In [37]:
data['processed_tweet_2'].iloc[0]

' RT mayasolovely As a woman you shouldn t complain about cleaning up your house amp as a man you should always take the trash out '

In [39]:
data.drop(columns = ['tweet','processed_tweet'],inplace=True)

In [41]:
data.head()

,count,hate_speech_count,offensive_language_count,neither_count,class,processed_tweet_2
0,3,0,0,3,2,RT mayasolovely As a woman you shouldn t comp...
1,3,0,3,0,1,RT mleew boy dats cold tyga dwn bad for cuffi...
2,3,0,3,0,1,RT UrKindOfBrand Dawg RT sbaby life You ever ...
3,3,0,2,1,1,RT C G Anderson viva based she look like a tr...
4,6,0,6,0,1,RT ShenikaRoberts The shit you hear about me ...

In [43]:
data.tail(5)

,count,hate_speech_count,offensive_language_count,neither_count,class,processed_tweet_2
24778,3,0,2,1,1,you s a muthaf in lie LifeAsKing Pearls corey ...
24779,3,0,1,2,2,you ve gone and broke the wrong heart baby and...
24780,3,0,3,0,1,young buck wanna eat dat nigguh like I aint fu...
24781,6,0,6,0,1,youu got wild bitches tellin you lies
24782,3,0,0,3,2,Ruffled Ntac Eileen Dahlia Beautiful color co...

In [45]:
import spacy

In [47]:
!python -m spacy download en_core_web_sm

Collecting en-core-web-sm==3.8.0
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl (12.8 MB)
     ---------------------------------------- 0.0/12.8 MB ? eta -:--:--
      --------------------------------------- 0.3/12.8 MB ? eta -:--:--
     --------- ------------------------------ 2.9/12.8 MB 10.5 MB/s eta 0:00:01
     ----------------- ---------------------- 5.5/12.8 MB 12.0 MB/s eta 0:00:01
     ------------------------- -------------- 8.1/12.8 MB 11.7 MB/s eta 0:00:01
     -------------------------------- ------ 10.7/12.8 MB 12.0 MB/s eta 0:00:01
     --------------------------------------- 12.8/12.8 MB 11.8 MB/s eta 0:00:00
[+] Download and installation successful
You can now load the package via spacy.load('en_core_web_sm')

In [49]:
nlp = spacy.load('en_core_web_sm')

In [51]:
data.head(5)

,count,hate_speech_count,offensive_language_count,neither_count,class,processed_tweet_2
0,3,0,0,3,2,RT mayasolovely As a woman you shouldn t comp...
1,3,0,3,0,1,RT mleew boy dats cold tyga dwn bad for cuffi...
2,3,0,3,0,1,RT UrKindOfBrand Dawg RT sbaby life You ever ...
3,3,0,2,1,1,RT C G Anderson viva based she look like a tr...
4,6,0,6,0,1,RT ShenikaRoberts The shit you hear about me ...

In [53]:
data.columns

Index(['count', 'hate_speech_count', 'offensive_language_count',
       'neither_count', 'class', 'processed_tweet_2'],
      dtype='object')

In [55]:
data.head()

,count,hate_speech_count,offensive_language_count,neither_count,class,processed_tweet_2
0,3,0,0,3,2,RT mayasolovely As a woman you shouldn t comp...
1,3,0,3,0,1,RT mleew boy dats cold tyga dwn bad for cuffi...
2,3,0,3,0,1,RT UrKindOfBrand Dawg RT sbaby life You ever ...
3,3,0,2,1,1,RT C G Anderson viva based she look like a tr...
4,6,0,6,0,1,RT ShenikaRoberts The shit you hear about me ...

In [57]:
data['processed_tweet_2'].iloc[0]

' RT mayasolovely As a woman you shouldn t complain about cleaning up your house amp as a man you should always take the trash out '

In [59]:
data.head(2)

,count,hate_speech_count,offensive_language_count,neither_count,class,processed_tweet_2
0,3,0,0,3,2,RT mayasolovely As a woman you shouldn t comp...
1,3,0,3,0,1,RT mleew boy dats cold tyga dwn bad for cuffi...

In [61]:
def lemmatization(text):
    doc = nlp(text)
    lemmalist = [word.lemma_ for word in doc]
    return ' '.join(lemmalist)

In [ ]:
data['lemmalist'] = data['processed_tweet_2'].apply(lemmatization)

In [80]:
data.head()

,count,hate_speech_count,offensive_language_count,neither_count,class,processed_tweet_2,lemmalist
0,3,0,0,3,2,RT mayasolovely As a woman you shouldn t comp...,RT mayasolovely as a woman you shouldn t com...
1,3,0,3,0,1,RT mleew boy dats cold tyga dwn bad for cuffi...,RT mleew boy dat cold tyga dwn bad for cuffi...
2,3,0,3,0,1,RT UrKindOfBrand Dawg RT sbaby life You ever ...,RT UrKindOfBrand Dawg RT sbaby life you ever...
3,3,0,2,1,1,RT C G Anderson viva based she look like a tr...,RT C G Anderson viva base she look like a tr...
4,6,0,6,0,1,RT ShenikaRoberts The shit you hear about me ...,RT ShenikaRoberts the shit you hear about I ...

In [81]:
data['processed_tweet_2'].iloc[67]

' Allyhaaaaa Lemmie eat a Oreo amp do these dishes One oreo Lol'

In [82]:
data['lemmalist'].iloc[67]

'  Allyhaaaaa Lemmie eat a Oreo amp do these dish one oreo lol'

In [83]:
#removing stop words
def remove_stopwords(text):
    doc = nlp(text)
    no_stopwords_list = [word.text for word in doc if not word.is_stop]
    return ' '.join(no_stopwords_list)

In [ ]:
data['final_tweet'] = data['lemmalist'].apply(remove_stopwords)

In [ ]:
data['lemmalist'].iloc[67]

In [ ]:
data['final_tweet'].iloc[67]

In [ ]:
data['class'].value_counts()

In [ ]:
!pip install tensorflow

In [ ]:
from tensorflow.keras.preprocessing.text import one_hot
from tensorflow.keras.preprocessing.sequence import pad_sequences
import tensorflow as tf
from tensorflow import keras
from imblearn.over_sampling import SMOTE
from sklearn.metrics import classification_report, confusion_matrix
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split

In [ ]:
vocab_size = 10000
one_hot_representation = [one_hot(words, vocab_size) for words in data['final_tweet']]

In [ ]:
one_hot_representation[0]

In [ ]:
sentence_length = 20
embedded_tweet = pad_sequences(one_hot_representation, padding='pre', maxlen = sentence_length)

In [ ]:
embedded_tweet[0]

In [ ]:
X = np.array(embedded_tweet)
y = np.array(data['class'])

In [ ]:
smote = SMOTE(sampling_strategy='minority')
X, y = smote.fit_resample(X, y)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [ ]:
dimension = 50

model = keras.Sequential([
    #embedding layer
    keras.layers.Embedding(vocab_size, dimension, input_length = sentence_length),
    # LSTM layer
    keras.layers.LSTM(100,return_sequences=True),
    keras.layers.LSTM(50, return_sequences=True),
    keras.layers.LSTM(50),
    #output layer
    keras.layers.Dense(3, activation = 'softmax')
])

#compilation
model.compile(optimizer = 'adam',
              loss = 'sparse_categorical_crossentropy',
              metrics = ['accuracy'])

In [ ]:
model.summary()

In [ ]:
model.fit(X_train, y_train, epochs = 10, batch_size=32)

In [ ]:
loss, accuracy = model.evaluate(X_test, y_test)
print(f'Model Accuracy : {accuracy * 100}')

In [ ]:
pred = np.argmax(model.predict(X_test), axis = -1)

In [ ]:
y_test[:5]

In [ ]:
pred[:5]

In [ ]:
print(classification_report(y_test, pred))

In [1]:
cf = confusion_matrix(y_test, pred, normalize = 'true')
sns.heatmap(cf, annot = True, cmap = 'crest')
plt.xlabel('PREDICTED'),
plt.ylabel('ACTUAL');

NameError: name 'confusion_matrix' is not defined